#include "../../MyVersionInfo.rc"

MY_VERSION_INFO_DLL("7z Plugin", "7z")


13  ICON  "../../Archive/Icons/tar.ico"
14  ICON  "../../Archive/Icons/gz.ico"


STRINGTABLE
BEGIN
  100 "tar:13 gz:14"
END
